<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>🍲 Latam Food </title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
<h1 style="text-align: center; text-transform: capitalize;border-bottom: 1px solid tomato">api de comida latina</h1>
<h2 style="font-style: italic">USUARIOS</h2>
<a href="/login">/login</a>
<h2 style="font-style: italic">COMIDA</h2>
<a href="/food">/food</a>
<br/>
<a href="/food">/food/{id}</a>
</body>
</html>